<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://maven.apache.org/POM/4.0.0                        http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <!--localRepository>/Software/nobackup/m2repo</localRepository-->
  <localRepository>/home/jenkins/m2repo/</localRepository>
  <interactiveMode>false</interactiveMode>
  <proxies>
    <proxy>
      <id>myproxy</id>
      <active>true</active>
      <protocol>http</protocol>
      <host>127.0.0.1</host>
      <port>3128</port>
    </proxy>
  </proxies>
  <profiles>
  <profile>
    <id>jenkins</id>
    <repositories>
        <repository>
            <id>repo.jenkins-ci.org</id>
            <url>http://repo.jenkins-ci.org/public/</url>
        </repository>
        <repository>
            <id>jgit-repository</id>
            <url>http://download.eclipse.org/jgit/maven/</url>
        </repository>
        <repository>
            <id>oss-releases</id>
            <url>https://oss.sonatype.org/content/repositories/releases/</url>
        </repository>
    </repositories>
    <pluginRepositories>
        <pluginRepository>
            <id>repo.jenkins-ci.org</id>
            <url>http://repo.jenkins-ci.org/public/</url>
        </pluginRepository>
    </pluginRepositories>
  </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>jenkins</activeProfile>
  </activeProfiles>
  <pluginGroups>
      <pluginGroup>org.jenkins-ci.tools</pluginGroup>
      <pluginGroup>org.codehaus.mojo</pluginGroup>
      <pluginGroup>org.jvnet.hudson.tools</pluginGroup>
      <pluginGroup>com.unitedinternet.maven</pluginGroup>
      <pluginGroup>com.jayway.maven.plugins.android.generation2</pluginGroup>
  </pluginGroups>
</settings>
